
<main role="main">
  <!--
    
    @veenstagram_post_shark = {
      username:"sharky_j",
      avatar_url: "http://naserca.com/images/sharky_j.jpg",
      photo_url: "http://naserca.com/images/shark.jpg",
      time_ago: timeGone(100000),
      like_count: 20,
      comment_count: 1,
      comments: [{
        username: "sharkeeeey_j",
        comment: "Out for the really terribly long weekend... too embarrassed to show y'all the beach bod!"
      }]
    -->


<% if current_user %>

<div class="new-finstagram-post">
<a href="/vee_posts/new" class="button">Post</a>
</div>
<% end %>

 <% @vee_posts.each do |vee_post| %>
 
 <%= erb(:'shared/post', { locals: { vee_post: vee_post, allow_new_comment: false}}) %>
  
  <% end %>        


</main>

